html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #FBFBFF;
    overflow-x: hidden;
  }

  #navbar {
    display: flex;
    color: rgb(10,10,10);
    background-color: rgb(10,10,10);
    justify-content: flex-end;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 500;
  }

  #navbar ul {
    display: flex;
    list-style: none;
    margin: 20px;
    padding:0;
    background-color: rgb(245,239,225);
    border-radius: 10px;
    position: fixed;
  }

  li {
    margin: 0;
    padding: 0;
  }

  .header-a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-weight: 900;
    transition: 600ms;
  }

  .header-a:hover {
    background: rgb(10,10,10);
    color: #FBFBFF;
    font-weight: bold;
    border-radius: 10px;
    transform: scale(1.2);
  }

  .welcome-section {
    height: calc(0.5625 * 100vw);
    width: 100%;
    display: flex;
    align-items: center;
  }

  .welcome-content {
    max-width: 49rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
    overflow-y: hidden;
  }

  .welcome-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(0.5625 * 100vw);
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .welcome-video video {
    height: calc(0.5625 * 100vw);
    width: 100%;
    overflow-x: hidden;
  }

  .welcome-overlay {
    height: calc(0.5625 * 100vw);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top,rgba(0,0,0,8) 0,rgba(0,0,0,0) 50%,rgba(0,0,0,.8) 97%);
    z-index: 1;
    overflow-y: hidden;
  }

  .welcome-description {
    z-index: 2;
    background-color: rgba(0,0,0,.3);
    padding: 20px;
    font-size: 5vh;
  }

  .typing {
    animation: flicker 0.7s infinite;
  }

  @keyframes flicker {
    to {
      color: transparent;
    }
  }

  .projects {
    padding-bottom: 50px;
    background-color: #292929;
    width: 100%;
    border-top: solid 8px #222;
  }

  .projects h1 {
    text-align: center;
    padding: 80px 0 50px 0;
    margin: 0;
    font-size: 30px;
    width: 100%;
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 1%;
    justify-items: center;
    align-items: center;
  }

  .project-container {
    text-decoration: none;
    border: none;
    width:370px;
    height: 400px;
    transition: 700ms;
    border-radius: 5px;
    text-align: center;
    color: #FBFBFF;
    font-weight: 900;
    font-size: 16px;
    background-color: black;
  }

  .project-container:hover {
    transform: scale(1.01);
  }

  .project-image {
    border: none;
    border-radius: 5px;
    height: 350px;
    width: 370px;
    transition: 700ms;
  }

  .project-image:hover {
    transform: scale(0.95);
  }

  .contact {
    background-color: black;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-top: solid 8px #222;
  }

  .contact h1 {
    padding: 0;
  }

  .contact p {
   margin-bottom: 30px;
   font-weight: 600;
  }

  .social-media__container ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 20px;
  }

  .profile-link {
    text-decoration: none;
    color: #FBFBFF;
    padding: 6px 40px 0 3px;
    font-weight: 900;
  }

  .social-media__container li {
    transition: 600ms;
    display: flex;
    align-items: center;
  }

  .social-media__container li:hover {
    transform: translate3d(0, 10px, 0);
  }

  .logo {
    height: 30px;
  }

  .cv {
    height: 25px;
  }

  @media (max-width: 1100px) {
      .project-grid {
      grid-template-columns: 1fr 1fr;
    }

    /* .welcome-content {
      padding: 0 3rem 0 3rem;
    }
    .welcome-description h1 {
      font-size: 25px;
    } */
  }

  @media (max-width: 770px) {

    .project-grid {
      grid-template-columns: 1fr;
    }

    #navbar {
      justify-content: center;
    }

    #navbar a {
      text-align: center;
    }

   .social-media__container ul {
      flex-direction: column;
      line-height: 1.6;
    }

    .social-media__container li {
      justify-content: center;
    }

    .social-media__container li:hover {
      transform: none;
    }

    footer {
      flex-direction: column;
      text-align: center;
    }
  }
