.section-contact {
  /* background-color: #272727; */
  background-color: #3D3D3D;
  height: 100vh;
  font-size: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}
