.project-container {
  text-decoration: none;
  height: 550px;
  width: 75%;
  color: #FBFBFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 20px 50px 0 black;
}