.project-container {
    text-decoration: none;
    border: none;
    width:370px;
    height: 400px;
    transition: 700ms;
    border-radius: 5px;
    text-align: center;
    color: #FBFBFF;
    font-weight: 900;
    font-size: 16px;
    background-color: black;
  }

  .project-container:hover {
    transform: scale(1.01);
  }

  .project-image {
    border: none;
    border-radius: 5px;
    height: 350px;
    width: 370px;
    transition: 700ms;
  }

  .project-image:hover {
    transform: scale(0.95);
  }
