  .profile-link {
    text-decoration: none;
    color: #FBFBFF;
    padding: 6px 40px 0 3px;
    font-weight: 900;
  }

  .container-li {
    transition: 600ms;
    display: flex;
    align-items: center;
  }

  .container-li:hover {
    transform: translate3d(0, 10px, 0);
  }

  .logo {
    height: 30px;
  }

  .cv {
    height: 25px;
  }