#navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 500;
  }

  #navbar ul {
    display: flex;
    list-style: none;
    margin: 20px;
    padding:0;
    background-color:#222;
    border-radius: 10px;
    position: fixed;
  }

  li {
    margin: 0;
    padding: 0;
  }

  .header-a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: #FBFBFF;
    padding: 20px;
    font-weight: 900;
    transition: 500ms;
  }

  .header-a:hover {
    background: #17d0d5;
    color: #FBFBFF;
    font-weight: bold;
    border-radius: 10px;
    transform: scale(1.2);
  }